@import url('https://fonts.googleapis.com/css?family=Magra:400,700');

:local(.profiles) {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #547a8248;
    border-top: solid #547a82 .3rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 100%;
    width:100%;
    .drop-down {
        background-color: #ffffff;
        border-top-right-radius: .9rem;
        border-top-left-radius: .9rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        padding-bottom: 1rem;

    }
    h3 {
        font-family: 'Magra', sans-serif;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    select {
        margin-left: 1rem;
        border: solid black 1px;
        :active {
           background-color: white;
        }

    }

}