#profile-image img {
    // background-color:#2d2d2d;
    border:10px solid rgba(96, 96, 96, .75); 
    height: 300px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 300px;
    border-style: inset;
    display: inline-block; 
}

@media (max-width: 376px) {
    
    #profile-image img {
        // background-color:#2d2d2d;
        border:10px solid rgba(96, 96, 96, .75); 
        height: 150px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width: 150px;
        border-style: inset;
        display: inline-block; 
    }
}