:local(.profiles) {
    display: grid;
    grid-template-rows: auto 1fr 50px 1fr;
    background-color: #547a8248;
    border-top: solid #547a82 .3rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 100%;
    width:100%;
}