:local(.profileForm) {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  input {
    padding: 1rem;
  }

  button {
    background-color:  rgba(0, 122, 92, 0.733);
    color: white;
    border: solid rgba(0, 122, 92, 0.733) 1px;
    padding: .2rem;
    margin: .1rem;
    border-radius: .5rem;
  }

}