@import url('https://fonts.googleapis.com/css?family=Magra:400,700');


.profile-image img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    align-content: center; 
    margin: 0;

    border: 10px solid rgba(96, 96, 96, .75);
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    overflow: hidden;
    align-content: center;

}

p {
    font-family: 'Magra', sans-serif;
}

.personal-bio {
    
}

#bold {
    color: red;
}