@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,800|Raleway:400,800');

:local(.eventsView) {
    ul {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: #2d2d2d;
        display: flex;
        justify-content: space-around;
    }

    li {
        padding-bottom: 5px;
    }

}





