@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,800|Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Magra:400,700');

:local(nav) {

  @media (min-width: 400px) {
    img {
        height: 60px;
    }   

    #logo {
      margin-left: 20px;
      -webkit-transition: height .05s;
      transition: height .05s;
    }

    #logo:hover {
      height: 80px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    text-align: center;


  ul {
    list-style: none;
    padding-left: 0px;


    a {
      display: inline-block;
      text-decoration: none;
      color: #2d2d2d;
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      margin: 0 10px 0 0;
      // -webkit-transition: font-size color .05s;
      // -webskit-transition-timing-function: ease;
      transition: font-size color .05s;
      // transition-timing-function: ease;
    }

    a:hover {
      color:#3eacab;
    }

    li {
      display: inline-block;
      align-items: center;
      }
    }
  }


@media (max-width: 376px) {
 * {
  align-content: center;
  background: url("https://images.unsplash.com/photo-1521208433527-7e6e378a9a65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47ff7cf60f689a568caa93dd87bbca51&auto=format&fit=crop&w=1050&q=80") center center fixed no-repeat;
} 
 
 img {
  height: 60px;
}  



ul {
  list-style: none;
  padding-left: 0px;


  a {
    display: inline-block;
    text-decoration: none;
    color: #2d2d2d;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 0 10px 0 0;
    transition: font-size color .05s;
    font-size: 12px;
  }

  a:hover {
    color:#3eacab;
  }

  li {
    display: inline-block;
    align-items: center;
    }
  }
 }
}