:local(.groups) {

    display: grid;
    margin: 0;
    grid-template-rows: auto 1fr 20px 1fr;
    background-color: rgba(38, 110, 98, 0.281);
    height: 100%;
    width: 100%;

    form {
        display: flex;
    }


} 